# Node
node_modules/
npm-debug.log*
*.log

# Ambiente (segredos)
.env

# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
*.tfplan
terraform.tfvars

# Credenciais AWS Academy
aws-creds.sh

# Chaves
*.pem
*.key